<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>购物车</title>
</head>
<style>
    .active{
        background-color: #ddd;
    }
</style>
<body>
    <!-- 宿主元素 -->
    <div id="app">
        <!-- 插值文本 -->
        <h2 :title='title'>{{title}}</h2>        

        <!-- 新增课程 -->
        <add-course v-model='course' @add-course='onAddCourse'></add-course>

        <!-- 提取课程列表组件 -->
        <course-list :courses='courses'></course-list>        

        <!-- style绑定 -->
        <!-- <div v-for="(c,index) in courses" :key="c" :style='{backgroundColor: seletedCourse === c ? "#ddd": "#fff"}' @click='seleted(c)'>
            {{ c }}
        </div> -->
        
        <!-- 总数： -->
        <p>
            <!-- 表达式 -->
            <!-- 课程总数：{{courses.length + '门'}} -->
        </p>

        <p>
            <!-- 计算属性 -->
            <!-- computed 课程总数：{{total + '门'}} -->
        </p>

        <p>
            <!-- 计算属性 -->
            watch 课程总数：{{totalCount + '门'}}
        </p>
    </div>
</body>
<script src="vue/vue-2.6.12.min.js"></script>

<script>

    // 新增课程组件
    Vue.component('add-course', {
        props: {
            value: {
                type: String,
                default: ''
            },
        },
        methods: {
            addCourse() {
                this.$emit('add-course')
            },
            onInput(e) {
                this.$emit('input', e.target.value)
            }
        },
        template: `
            <div>
                <!-- 用户输入 -->
                <p>
                    <input type="text" :value='value' @input='onInput' @keydown.enter='addCourse'>
                    <button @click='addCourse'>添加到购物车</button>
                </p>
            </div>
        `
    })


    // 课程列表组件
    Vue.component('course-list', {
        data() {
            return {
                seletedCourse: ''
            }
        },
        props: {
            courses: {
                type: Array,
                default: []
            }
        },
        template: `
            <div class="course-list-wrap">
                <!-- 条件渲染 -->
                <p v-if='courses.length === 0 '>没有任何课程信息</p>
                <div v-else class="course-list">
                    <!-- 列表渲染 -->
                    <div v-for="(c,index) in courses" :key="c" :class='{active: seletedCourse === c}' @click='seleted(c)'>
                        {{ c }}
                    </div>
                </div>
            </div>
        `
    })
    
    // 模拟异步获取课程数据
    function getCourse() {
        return new Promise((resolve, rejecte) => {
            setTimeout(() => {
                resolve(['web全栈', 'web高级'])
            }, 2000);
        })
    }

    const vm = new Vue({
        el: '#app',
        data() {
            return {
                title: '购物车',
                course: '', 
                courses: [],
                totalCount: 0
            }
        },
        async mounted () {
            this.courses = await getCourse();
        },
        methods: {
            onAddCourse() {
                // 1.添加course到数组
                this.courses.unshift(this.course)
                this.course = ''
            },
            seleted(item) {
                this.seletedCourse = item
            }
        },
        computed: {
            total() {
                // 计算属性有缓存性，如果值没有发生变化，则页面不会重新渲染
                return this.courses.length 
            }
        },
        // // 默认情况下，watch初始化时不执行
        // watch: {
        //     courses(newValue, oldValue) {
        //         // 变化之后才会执行
        //         this.totalCount = newValue.length
        //     }
        // },
        watch: {
            courses: {
                immediate: true, // 初始化时立即执行一次
                // deep: true, // 
                handler(newValue, oldValue) {
                    this.totalCount = newValue.length
                }
            }
        },
    })
</script>
</html>